<h2>
    欢迎进入<span style="color:coral">卷皮网</span>商品信息管理系统
    <br>

</h2>
<h4>
    您还未登录，请先<span id="home_Signin" class="hidden-xs userinfo-btn" style="color:cornflowerblue;margin-left: 10px;cursor: pointer;"><span
            type="signin">登录</span></span>
</h4>
<div class="dropdown user user-menu open" id="home_user" >
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li>
            <form action="" id="userform1" style="display: block;">
                <div class="box-body">
                    <div class="form-group"> <label for="exampleInputEmail1">用户名</label> <input type="text" class="form-control"
                            id="username1" name="username" placeholder="输入用户名..."> </div>
                    <div class="form-group"> <label for="exampleInputPassword1">密码</label> <input type="password" class="form-control"
                            id="password1" name="password" placeholder="输入密码..."> </div>
                </div>
            </form> <!-- /.box -->
        </li> <!-- Menu Body -->
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left"> <a href="javascript:;" class="btn btn-default btn-flat">关闭</a> </div>
            <div class="pull-right" id="userbtn"><a href="javascript:;" class="btn btn-default btn-flat" id="sign1">登录</a></div>
        </li>
    </ul>
</div>